@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050505;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  display: flex;
  user-select: none;
  color: var(--foreground);
  background: linear-gradient(to top left, #483a59, #201934);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

video {
  transform: rotateY(180deg);
}

.backdrop-theme {
  @apply bg-white/5 backdrop-blur-md;
}

.hover-backdrop-theme:hover {
  @apply backdrop-theme;
}
